<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理者登録</title>
</head>
<body>

<h2>管理者 新規登録</h2>

<form th:action="@{/admin/register}" method="post" th:object="${admin}">
    <label>名前：</label>
    <input type="text" th:field="*{adminName}" required>
    <br><br>

    <label>メールアドレス：</label>
    <input type="email" th:field="*{email}" required>
    <br><br>

    <label>パスワード：</label>
    <input type="password" th:field="*{password}" required>
    <br><br>

    <button type="submit">登録</button>
</form>

<br><br>
<a href="/admin/login">ログイン画面へ</a>

</body>
</html>
