<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理者一覧</title>
</head>
<body>

<h2>管理者一覧</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>管理者名</th>
        <th>メール</th>
        <th>削除</th>
    </tr>

    <tr th:each="admin : ${admins}">
        <td th:text="${admin.adminId}"></td>
        <td th:text="${admin.adminName}"></td>
        <td th:text="${admin.email}"></td>
        <td>
            <form th:action="@{'/admin/delete/' + ${admin.adminId}}" method="post">
                <button type="submit">削除</button>
            </form>
        </td>
    </tr>
</table>

<br>
<a href="/admin/login">ログインへ戻る</a>

</body>
</html>
